html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Times New Roman", sans-serif; /* this should be the rest of the output you got from Google Fonts */
    color: hsl(0, 100%, 100%)
  }

  h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: hsl(208, 66%, 13%);
    text-shadow: 3px 3px 1px white;;
  }
      
  
  p,
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  html {
    background-color: #6276ad;
  }
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #ac83a5;
    padding: 0 20px 20px 20px;
    border: 5px solid #140027;
  }
        
  img {
    display: block;
    margin: 0 auto;
    width: 500px;
  }
  